body{
    display:flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    /* width: 200px; */
}
#shuffle{
    align-items: center;
    justify-content: center;
    border: solid 2px; 
    height:650px; 
    width:650px; 
    display:grid; 
    grid-template-columns:repeat(3,auto); 
    justify-content:center; 
    grid-gap:5px;
}
.center{
    text-align: center;
    margin: 1%;
}
@media screen and (max-width: 700px){
    img{
        width: 100px;
        height: 100px;
    }
    #shuffle{
        align-items: center;
        justify-content: center;
        border: solid 2px; 
        place-items:center; 
        height:300px; 
        width:300px; 
        display:grid; 
        grid-template-columns:repeat(3,auto); 
        justify-content:center; 
        grid-gap:5px;
    }
}